/* 全体のレイアウト */
.login_menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:white;
}

.login_menu-inner {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    max-width: 300px;
    width: 100%;
}

/* メニューリンクのスタイル */
.login_menu-link {
    margin-bottom: 20px;
}


.login_menu-text {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    text-decoration:none;
    transition: background-color 0.3s ease;
}

.login_menu-text:hover {
    background-color: #e0e0e0;
}

/* 閉じるボタンのスタイル */
.login_menu-back {
    position: absolute;
    background: #007BFF;
    padding: 5px 10px;
    border-radius: 3px;
    top: 50px;
    left: 50px;
}

.login_menu-back-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login_menu-back-link:hover {
    color: #0056b3;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    .login_menu-inner {
        padding: 20px;
    }

    .login_menu-text {
        font-size: 16px;
    }
}
