/* 全体のレイアウト */
.mypage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* セクションの横並びレイアウト */
.mypage_sections {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* セクション間の間隔 */
}

.mypage_content-info{
    display: flex;
}

/* 各セクション */
.mypage_reservations{
    flex: 1;
    padding:20px;
}
.mypage_favorite {
    flex: 2; /* 各セクションが等しい幅を持つ */
    padding: 20px;
}

.mypage_favorite-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* タイトル */
.mypage_header {
    margin-bottom: 20px;
    text-align: center;
}

.mypage_title {
    font-size: 1.8em;
    margin: 0;
}

/* 予約状況セクション */
.mypage_reservations-header {
    margin-bottom: 20px;
}

.mypage_reservations-title {
    font-size: 1.6em;
    margin: 0;
}

.mypage_reservations-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reservations-card {
    display: flex;
    background-color:#007bff;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    gap: 20px;
}

.reservation-card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.reservation-card_header img {
    height: 24px;
    margin-right: 10px;
}

.reservation-card_header span {
    font-weight: bold;
}

.reservation-card_header form button {
    background: none;
    border: none;
    cursor: pointer;
}

.reservation-card_header form button img {
    height: 24px;
}

.reservation-card_title{
    margin-left: 10px;
    text-align: left;
    color: #f9f9f9;
    flex-grow: 1;
}

/* 予約内容テーブル */
.reservation-card-table table {
    width: 100%;
    border-collapse: collapse;
}

.reservation-card-table th,
.reservation-card-table td {
    padding: 0 20px 0px 30px;
    text-align: left;
    color:#f9f9f9;
}

.reservation-card-table th {
    width: 30%;
    font-weight: bold;
}

.mypage_reservation-store-name{
    text-align: center;
}


.mypage_reservation-input{
    width: 200px;
    border: none;
    padding: 2px;
    font-size: 16px;
    text-align: left;
    border-radius: 5px;
}

/* お気に入り店舗セクション */
.mypage_favorite-ttl {
    margin-bottom: 20px;
}

.mypage_favorite-text {
    font-size: 1.6em;
    margin: 0;
}

/* 店舗カード */
.store_card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.store_card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.store_card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.store_card-ttl {
    font-size: 1.2em;
    margin: 10px 0;
}

.store_card-content {
    padding: 10px;
}

.store_card-content-tag {
    margin-left: 5px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    color: #555;
}

.store_card-button {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.form_button-submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.form_button-submit-favorite {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
    transition: background-color 0.3s ease;
}

.mypage_reservation-button{
    margin: 10px auto;
    text-align: center;
}

.mypage_reservation-button-submit {
    background-color: #ddd;
    color: #007bff;
    border: none;
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form_button-submit:hover {
    background-color: #0056b3;
}

.form_button-submit-favorite {
    color: #ff0000;
    border: none;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.form_button-submit-favorite:hover {
    color: #cc0000;
}

.mypage_reservation-button-submit:hover{
    background-color: #fdfdfd;
}