/* Style for the main container of the QR code section */
.qr-code {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the heading */
.qr-code h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Style for the paragraph */
.qr-code p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

/* Style for the QR code inner container */
.qr-code_inner {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

/* Style for the back link */
.qr-code_link {
    text-decoration: none;
    font-size: 24px;
    color: #333;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Hover effect for the back link */
.qr-code_link:hover {
    background-color: #ddd;
}

/* Style for the QR code itself */
.qr-code div {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}


.payment__header-back {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f8f9fa;
}