/* ユーザーメニュー全体のレイアウト */
.user_menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#fff;
}

/* 戻るリンク */
.user_menu-back {
    position: absolute;
    background: #007BFF;
    padding: 5px 10px;
    border-radius: 3px;
    top: 70px;
    left: 50px;
}

.user_menu-back-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.user_menu-back-link:hover {
    color: #0056b3;
}

/* メニューアイテムのレイアウト */
.user_menu-inner {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    max-width: 300px;
    width: 100%;
}

/* 各メニューリンク */
.user_menu-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

/* メニューリンクテキスト */
.user_menu-text,
.user_menu-button {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.user_menu-text:hover,
.user_menu-button:hover {
    background-color: #e0e0e0;
}

